.setting{
    display: flex;
}

.settingwrap{
    flex:9;
    padding: 20px;
}

.settingtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingupdate{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settingdelete{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingform{
    display: flex;
    flex-direction: column;

}

.settingpp{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingpp>img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}


.settingprofileicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingform>label{
    font-size: 20px;
    margin-top: 20px;
}

.settingform>input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.settingsubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}